<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!--<add key="connString" value="Data Source=172.10.1.9;Initial Catalog=ezdispatcher;User ID=ezdispatcher1;Password=ezdispatcher1"/>-->
    <!--<add key="connString" value="Data Source=10.15.2.1;Initial Catalog=ezdispatcher;User ID=sa;Password=$#eZD!sp@tcher#;" />-->
    <!--<add key="connString" value="Data Source=10.15.2.1;Initial Catalog=ezdispatcher;Persist Security Info=True;User ID=sa;Password=$#eZD!sp@tcher#;MultipleActiveResultSets=True"/>-->
    
    <add key="LogPath" value="D:\ScheduledService.txt"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="connString" connectionString="Data Source=10.15.2.1;Initial Catalog=ezdispatcher;Persist Security Info=True;User ID=sa;Password=$#eZD!sp@tcher#;" providerName="System.Data.SqlClient" />-->
    <!--<add name="connString" connectionString="Data Source=50.23.221.50,1407;Initial Catalog=ezdispatcher;User ID=ezdispatcher;Password=ezdispatcher" providerName="System.Data.SqlClient" />-->
    <add name="connString" connectionString="Data Source=172.10.1.9;Initial Catalog=ezdispatcher;User ID=ezdispatcher1;Password=ezdispatcher1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
    <services>
      <service name="ezDispatcherWebSite.WCFService.UserService" behaviorConfiguration="ezDispatcherWebSite.WCFService.UserServiceBehaviors">
        <endpoint address="" behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="ezDispatcherWebSite.WCFService.ServiceInterface.IUserService">
          
        </endpoint>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ezDispatcherWebSite.WCFService.Service2Behaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ezDispatcherWebSite.WCFService.UserServiceBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
